@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);

body {
  font-size: 22px;
}

p {
    margin: 0 0 18px;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 2em;
}

h2, h1  {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
.centered {
  text-align: center;
}


.mahoosive {
  font-size: 6vw;
  width: 80%;
  text-shadow: 1px 1px 2px #000;
  color: white;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}


section {
  height: 100vh;
width: 100%;
}

section h1 {

}
section.intro {
  background: url(../img/magazines-705885_1920.jpg);
  background-size: cover;
  background-attachment: fixed;
}

section.shared {
  background: url(../img/shared_space.svg) no-repeat;
  background-size: contain;
  background-attachment: scroll;
  background-position: center;
  background-color: #bada55;
}

section.managingIndd {
  background: url(../img/paperclip-264515_1920.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
figure {
    margin: 0 auto;
    padding: 0;
    width: 80%;
}

figure img {
  box-shadow: 1px 2px 10px #ccc;
  max-width: 100%;
}
